#wrapper {
	width: 1200px;
	height: 500px;
	border: 2px solid black;
	margin: auto;
}
.content{
	width: 27%;
	height: 60%;
	border: 2px solid red;
	display: inline-block;
	margin:20px;
}

.selected {
	background-color: orange;
}
