<!DOCTYPE html>
<html>
	<head>
	<script type="text/javascript" src="js/lib/shims.js"></script>
	<script type="text/javascript" src="js/lib/underscore-min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/shiro/shiro-class.js"></script>
	<script type="text/javascript" src="js/lib/shiro/shiro-eventemitter.js"></script>
		<style type="text/css">
			.about {
				width: 600px;
			}
		</style>
	</head>
	<body>
		<div class = "about">
			<h3>Hi! My name is Tomislav Tomcic. I'm a 22-year old developer currently residing in Novi Sad Serbia</h3>
			
			<p>Lorem ipsum Tempor deserunt sit in cupidatat ex tempor culpa consectetur qui dolore aliqua nisi in deserunt magna id anim qui minim fugiat voluptate laborum sint ullamco in veniam ea elit nulla dolore exercitation id qui minim ut.</p>
		</div>
		<div class = "projects">
			<h3>This are the projects i've worked on</h3>
			<h6>PROJECT 1</h6>
			<h6>PROJECT 2</h6>
			<h6>project 3</h6>
		</div>
		<div class = "labs">
			<h3>This is some interesting stuff i put together</h3>
			<p>experiment</p>
		</div>
		<div class = "contact">
			<h3>I you want to contact me, this is how you do it</h3>
			<a href="https://www.facebook.com/tomislav.tomcic">Facebook</a>
			<a href="https://twitter.com/TomislavTomcic">Twitter</a>
			<a href="https://plus.google.com/118166481614853151804/posts">Google+</a>
			<a href="http://www.linkedin.com/profile/view?id=175289609&trk=nav_responsive_tab_profile">LinkedIn</a>
		</div>
	</body>
</html>